
# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Test-Ordner (z.B. für temporäre Testdaten)
tests/__pycache__/
tests/*.pyc
tests/*.pyo
tests/*.log

# Visual Studio Code
.vscode/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# logs
logs/*

# Configs und Main 
#src/config.py
#src/main.py

# Data 
data/*