
# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtuelle Umgebungen
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Test-Ordner (z.B. für temporäre Testdaten)
tests/__pycache__/
tests/*.pyc
tests/*.pyo
tests/*.log

# Visual Studio Code
.vscode/
